@media(max-width:991px){

    .menu-toggle{
        display: block;
        text-align: right;
    }
    .menu-toggle i{
        font-size: 35px;
        color: #1f2f31;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 15px 20px;
        display: none;
        box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    }

    .navbar.active{
        display: block;
    }

    .navbar nav ul{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar nav ul li{
        width: 100%;
        padding: 12px 0;
        border-bottom: 1px solid #eee;
    }
    .bnr-content h1{font-size: 44px !important; text-align: center;}
    .bnr-content p{text-align: center;}
     .start-group,
    .quick-items,
    .cta-btns,
    .ct-banner-content,
    .metric-row{
        gap: 20px !important;
    }

    .about-image-grid{
        flex-direction: column;
    }

    .secondary-image{
        flex-direction: row !important;
    }

    .depart-row{
        overflow: hidden;
    }
}

@media(max-width:767px){
    .menu-toggle i{
        font-size: 35px !important;
        color: #1f2f31;
    }
    .sec-pad{
        padding: 80px 5px !important;
    }
    .about-top-content h2 {font-size: 36px !important;}
    .about-top-content p {font-size: 20px;}
    .department-group h2 {font-size: 36px !important;}
    .depart-cta-content h3 {font-size: 28px !important;}
    .depart-cta {padding: 80px 25px !important;}
    .call-action-content h2 {font-size: 35px !important; text-align: center;}
    .about-image-grid{
        display: none !important;
    }
}
@media(max-width:571px){
    .menu-toggle i{
        font-size: 35px !important;
        color: #1f2f31;
    }
    .sec-pad{padding: 60px 10px !important;}
    .bnr-content h1{font-size: 35px !important; text-align: center;}
    .department-group h2 {font-size: 32px !important;}
    .depart-cta {padding: 80px 25px !important;}
    .call-action-content h2 {font-size: 30px !important; text-align: center;}
}